body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 15px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

h3 {
  margin-top: 20px;
  color: #333;
}

hr {
  margin: 15px 0;
  border: n;
}
h3,
#comment {
  text-align: center;
}
